SHELL=/bin/bash
PATH=/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=root
HOME=/

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly

*/10 * * * * root (~nospam/bin/NoSPAM UpdateRule >> /var/log/police.cron 2>&1)
*/10 * * * * root (~ssh/bin/UploadLog >> /var/log/police.cron 2>&1)
0 4 * * * root (~nospam/bin/NoSPAM ZombieFile_clean > /dev/null 2>&1)
0 4 * * * root (cat /dev/null > /var/log/police.cron)

0 4 * * * root (rm -f /var/log/*.{1,2,3,4}* > /dev/null 2>&1)
0 4 * * * root (cat /dev/null > /var/log/maillog)
0 4 * * * root (cat /dev/null > /var/log/NoSPAM.debug)
0 4 * * * root (cat /dev/null > /var/log/NoSPAM.fatal)
0 4 * * * root (cat /dev/null > /var/log/NoSPAM)
0 4 * * * root (cat /dev/null > /var/log/clamav/clamd.log)
0 4 * * * root (cat /dev/null > /home/NoSPAM/spool/ns-queue.debug)
01 01 * * *  root (umask 0077; /usr/bin/openssl genrsa -out /var/qmail/control/rsa512.new 512 > /dev/null 2>&1 && chown qmaild.qmail /var/qmail/control/rsa512.new>/dev/null 2>&1 && /bin/mv -f /var/qmail/control/rsa512.new /var/qmail/control/rsa512.pem>/dev/null 2>&1)

0-59/5 * * * * root /home/NoSPAM/bin/rrdgraph > /dev/null 2>&1
0-59/5 * * * * root /usr/bin/mrtg /etc/mrtg/mrtg.cfg > /dev/null 2>&1
