table.RuleTB {
	width: 100%;
	border: 2px solid;
}
tr.RuleTBH {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
	font-family: ו, Verdana, Arial, Helvetica, sans-serif;
}
tr.RuleTB1 {
	font-size: 12px;
	font-family: ו, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	height: 20px;
}
tr.RuleTB2 {
	font-size: 12px;
	font-family: ו, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #CCCCCC;
	height: 20px;
}

body,th,td,p,li,input,select {font-size:12px;}
A:link {color:#00007f;}
A:visited {color:#65038e;}
A:active {color:#ff0000;}
A:hover {color:#ff0000;}

